@font-face {
    font-family: 'orbitron';
    src: url("fuentes/Orbitron-Bold.ttf");
}

@font-face {
    font-family: 'jura';
    src: url("fuentes/Jura-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    height: 100vh;
    background-color: #343D40;
    background-image: url("../img/fondo.jpg");
    /* Ajustes para fondo gif */
    background-repeat: no-repeat;
    background-size: cover;
/* quitar 
    position: absolute;
  left: 0;
  right: 0;
  */
}

hr {
    width: 80%;
    margin: 0 auto;
}






.imagen-juego {
    display: block;
    width: 100%;
    border: 2px solid white;
    margin: 0 auto;
    text-align: center;
}

.imagen-texto {
    position: relative;
}

h2 {
    position: absolute;
    margin-top: 15px;
    margin-left: 5px;
    top: 0;
    left: 0; 
}

h2 span { 
   color: white; 
   box-shadow: 2px 2px 15px black;
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

.imagen-juego:hover {
    cursor: pointer;
    filter: brightness(120%);
}


main {
    padding: 40px 0;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    /* Transparencias para dejar ver el gif */
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.55);
    
}

.centrar-todo {
    left: 0;
    right: 0;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

section {
    font-family: 'jura';
}



.cabecera {
    width: 80%;
    margin: 0px auto;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'orbitron';
}

    .cabecera h1 {
        margin-bottom: 20px;
    }

.titulo-principal {
  margin: 1em;
}


/*********
 * MENÚ  *
 *********/

.menu {
    padding: 10px; /*borrar*/
    margin: 0 auto;
}

.menu ul {
    list-style: none;
}

.menu li {
    margin: 0 5px;
}

.menu a {
    display: block; /** IMPORTANTE DE COJONES **/
    background-color: #00A376;
    color: white;
    text-decoration: none;
    width: 10em;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px black;   
}

.menu a:hover {
    cursor: pointer;
    filter: brightness(130%);
    color: black;
}

.menu-principal > li > a:hover {
    filter: brightness(130%);
    color: black;
    box-shadow: 0px 0px 10px 5px black;
}

.menu-principal {
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content:center;
    z-index: 0;
}

/* pone SOLO el primer nivel horizontal 
.menu-principal > li {

    float: left;
}

*/

.submenu {
    width: 10em;
    display: none;
    position: absolute;
    z-index: -1;
}

.submenu li {
}

.submenu a {
    background-color: #009A76;
    width: 100%;
    margin: 0 auto;
    border-radius: 0;
    font-size: 0.6em;
    box-shadow: none;
}

.submenu li:last-child a {
    border-radius: 0 0 5px 5px;
}

.submenu a:hover {
    border-bottom: solid 1px white;
}























    .buscador {
      margin: 1.5em;
        border-radius: 4px;
        border: none;
        outline: none;
        font-family: 'jura';
        color: black;
        padding: 10px;
        width: 200px;
        height: 30px;
        transition: width 1000ms ease;
        text-align: center;
    }

    .buscador:focus {
        width: 300px;
        text-align: left;
    }



.portada {
    width: 80%;
    margin: 0 auto;
    padding: 40px;
}








