/**********
 * FICHA  *
 **********/


.ficha {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  
  width: 65%;
  margin: 0 auto;
  border: 3px solid whitesmoke;
  border-radius: 5px;
  
  background-image: url("../img/fondo.jpg");
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.55);
}

.fondo-ficha {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;


  background-color: rgba(0, 0, 0, 0.5);
}


/*****************
 * TÍTULO FICHA  *
 *****************/

.titulo-ficha {
  overflow: hidden;

  width: 100%;
  height: 10%;

  border-bottom: 1px solid white;
  
  padding: 20px 15px;

  font-family: 'orbitron';
}

.titulo-ficha div h3 {
  display: inline-block;
  font-size: 2em;
  line-height: 2em;
}

.iconos-plataformas {
  float: right;
}

.iconos-plataformas img {
  width: 40px;

  margin-left: 10px;
}


/********************
 * CONTENIDO FICHA  *
 ********************/

.contenido-ficha {
  font-family: 'jura';
}


/**********************
 * COLUMNA IZQUIERDA  *
 **********************/

.contenido-ficha-izq {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 38%;
  height: 100%;

  padding: 1%;
  border-right: 1px solid white;
}

.portada-ficha {
  display: block;
  width: 100%;  
  margin: auto;
  margin-bottom: 2%;
  border: 2px solid white;
}


.boton-ficha {
  display: block;
  text-align: center;
  width: 100%;
  margin: 2% 0;
  text-transform: uppercase;
  font-family: 'orbitron';
  position: relative;
  font-size: 16px;
  bottom: 0;
  outline: none;
  color: white;
  text-decoration: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.boton-ficha:hover {
  cursor: pointer;
  filter: brightness(130%);
  color: black;
  box-shadow: 0px 0px 10px 5px black;
}


.cerrar {
  background-color: orange;
}

.leer {
  background-color: #00A376;
}



/********************
 * COLUMNA DERECHA  *
 ********************/

.contenido-ficha-dcha {
  padding: 2% 0;
  position: absolute;
  display: inline-block;
  margin: 0;
  width: 62%;
  height: 80%;
  

  
}

/*.contenedor-datos {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/

.datos-ficha {
  height: 100%;
  top: 0;
  left: 0;
}

.dato {
  margin-bottom: 1%;
}

.dato span:first-child {
  font-weight: bold;
}


.divisor-ficha {
  margin: 40px 0;
  width: 100%;
}


.descripcion p {
  text-align: justify;
  padding: 0 3%;
  margin-bottom: 3%;
}

.miniaturas {
  width: 100%;

  text-align: center;
  padding-bottom: 20px;
}

.miniaturas img {
  width: 23%;
  margin: 1%;
  border: 2px solid white;
}

.miniaturas img:hover {
  cursor: pointer;
  filter: brightness(120%);
}


.arriba-izquierda {
  display: inline-block;
  width: 60%;
  top: 0;
  left: 0;
}

.arriba-derecha {
  float: right;
  width: 35%;
  top: 0;
  right: 0;
  height: 20%;
}

.pegi {
  height: 100%;
  width: 30%;
  float:right;
}

.nota {
    margin-left: 5px;
    width: 30%;
    height: 100%;
    float: right;
    text-align: center;
    border: 2px solid white;
    font-weight: bold;
    font-family: 'orbitron';
    font-size: 0.8em;
}

.texto-nota {
    height: 30%;
    background-color: black;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.puntuacion {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3em;
}